@import url("https://fonts.googleapis.com/css2?family=Economica&display=swap");

a {
  color: wheat;
  text-decoration: none;
}
a:hover {
  font-size: larger;
  font-weight: bolder;
}

.App {
  margin: 75px auto;
  width: 308px;
  background-color: rgba(128, 128, 128, 0.76);
  box-shadow: 2px 2px 25px rgb(129, 129, 129);
  display: grid;
  grid-template-areas:
    "s s s s"
    "s s s s"
    "d d d o"
    "n n n o"
    "n n n o"
    "n n n o"
    "n n n o";
  justify-content: center;
}

.Screen {
  grid-area: s;
  border: 2px solid rgba(165, 42, 42, 0.74);
  margin: 4px;
}
.output,
.input {
  display: flex;
  min-height: 75px;
  background-color: rgba(0, 0, 0, 0.904);
  color: white;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px 0 15px;
  overflow-wrap: break-word;
  word-break: break-all;
  height: fit-content;
  font-size: x-large;
}

.output {
  color: rgb(255, 208, 0);
  font-family: "Economica", sans-serif;
  font-size: xx-large;
}

#clear,
#ce,
#equals {
  color: rgb(165, 42, 42);
}

#clear:hover,
#ce:hover,
#equals:hover {
  color: whitesmoke;
}

.ops {
  color: blue;
}

button {
  height: 75px;
  width: 75px;
  cursor: pointer;
  font-size: large;
  font-weight: bolder;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.322);
  background-color: rgba(255, 255, 255, 0.424);
}

button:hover {
  color: whitesmoke;
  border: 2px solid #00aaffc9;
}

.ChangeButtons {
  grid-area: d;
  display: flex;
  margin: 2px 0 0 4px;
}

.clear {
  width: 150px;
  grid-column: span 2;
}

.OperatorButtons {
  grid-area: o;
  margin: 2px 4px 4px 0;
}

.NumberButtons {
  grid-area: n;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 4px 4px;
}
